.pull-right {
	float: right!important
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.media-body {
    padding-left: 15px;
}

